<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>컴스터디 중고차 쇼핑몰 - 정보 수정</h1>
  <form action="/modify" method="post">
    <table width="550" border="1">
        <tr>
            <input type="hidden" name="id" value="<%=car._id %>">
            <th width="20%">_id</th>
            <td width="80%"><%=car._id %></td>
        </tr>
        <tr>
            <th>name</th>
            <td><input type="text" name="name" value="<%=car.name %>"></td>
        </tr>
        <tr>
            <th>price</th>
            <td><input type="text" name="price" value="<%=car.price %>"></td>
        </tr>
        <tr>
            <th>company</th>
            <td><input type="text" name="price" value="<%=car.company %>"></td>
        </tr>
        <tr>
            <th>year</th>
            <td><input type="text" name="price" value="<%=car.year %>"></td>
        </tr>
        <tr>
            <th colspan="2">
                <a href="/home">목록</a> | 
                <input type="submit" value="수정완료" />
            </th>
        </tr>
    </table>
  </form>
</body>
</html>